html, * {
   padding: 0;
   margin: 0;
}

body {
   background-image: linear-gradient(to right, #172634, #325D85);
   overflow-x: auto;
}

.contain-page {
   position: absolute;
   transform: translate(0px, -10px);
}
.contain-page h1 {
   font-family: sans-serif;
   transform: translate(0px, -660px);
   text-decoration: none;
   padding: 1rem;
   padding-left: 40px;
   color: #ffff;
}

.navbar-role {
   position: absolute;
   transform: translate(600px, -650px);
}
.navbar-role ul li {
   font-family: sans-serif;
   color: #ffff;
   text-decoration: none;
   display: inline;
   justify-content: space-between;
   padding: 15px;
   padding-bottom: 5px;
   cursor: pointer;
   position: relative;

}
.navbar-role ul li::after {
   content: '';
   position: absolute;
   bottom: -3px;
   left: 0;
   width: 0;
   height: 2px;
   background-color: #0F76D6;
   transition: width 0.3s ease;
   
}
.navbar-role ul li:hover {
   color: #0F76D6;
   /* transition: 0.3s ease-out; */
}
.navbar-role ul li:hover::after {
   width: 100%;
}

.main-content {
   position: absolute;
   transform: translate(0px, -400px);
   font-family: sans-serif;
   padding: 2rem;
   color: #ffff;
}
.main-content p {
   margin-bottom: 0px;
}

footer {
   position: relative;
   color: #ffff;
   font-family: sans-serif;
   margin-left: 50px;
   padding-top: 40px;
}
footer h1 {
   font-size: 36px;
   margin-top: 100px;
   margin-left: 10px;
}
footer img {
   width: 200px;
   height: 200px;
   transform: translateY(-50px);
}
footer .add-info {
   margin: 30px;
   margin-left: 350px;
   transform: translateY(-265px);
}
.add-info h3 {
   padding-bottom: 5px;
}
.add-info ul li {
   /* display: inline; */
   list-style-type: none;
   padding: 5px;
}