html, * {
   padding: 0;
   margin: 0;
}

body {
   background-image: linear-gradient(to right, #172634, #325D85);
}

.contain-page h1 {
   transform: translate(0px, -35px);
   text-decoration: none;
   padding: 1rem;
   padding-left: 40px;
   color: #ffff;
   position: absolute;
}

.navbar-role {
   background-color: transparent;
   transition: 0.3s ease-out;
   margin-left: 500px;
   margin-bottom: 0px;
   margin-top: 40px;
}
.navbar-role ul li {
   color: #ffff;
   text-decoration: none;
   display: inline;
   justify-content: space-between;
   padding: 25px;
   padding-bottom: 5px;
   cursor: pointer;
   position: relative;

}

.cloud-image {
   margin-left: 580px;
   margin-top: 100px;
   margin-bottom: 300px;
}

/* navbar scrolled */
.navbar-scrolled {
   background-color: #ffffff; /* Ganti warna latar belakang navbar saat discroll */
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Tambahkan shadow untuk efek floating */
}
/* testing  */
.navbar-role ul li a {
   text-decoration: none;
   color: #ffff;
}
.navbar-role ul li::after {
   content: '';
   position: absolute;
   bottom: -3px;
   left: 0;
   width: 0;
   height: 2px;
   background-color: #1395EA;
   transition: width 0.3s ease;
   
}
.navbar-role ul li a:hover {
   color: #1395EA;
   /* transition: 0.3s ease-out; */
}
.navbar-role ul li:hover::after {
   width: 100%;
}

.main-content {
   position: absolute;
   transform: translate(0px, -400px);
   color: #ffff;
   padding: 2rem;
   text-align: justify;
}
.font-custom {
   font-size: 17px;
}

.landing-content {
   position: absolute;
   transform: translateY(-600px);
   margin: 30px;
}

footer {
   position: relative;
   color: #ffff;
   margin-left: 50px;
   padding-top: 40px;
}
footer h1 {
   font-size: 36px;
   margin-top: 100px;
   margin-left: 10px;
}
footer img {
   width: 200px;
   height: 200px;
   transform: translateY(-50px);
}
footer .add-info {
   margin: 30px;
   margin-left: 550px;
   transform: translateY(-273px);
}

.add-info ul li {
   /* display: inline; */
   list-style-type: none;
   padding: 5px;
}

.location {
   margin-left: 800px;
   transform: translateY(-480px);
}
.location p {
   padding: 2px;
   margin: 0px;
}
.location .envelope-content {
   transform: translate(10px, -20px) !important;
}

.about-content {
   margin-top: 300px;
   margin-bottom: 300px;
}
.about-content .sign-content {
   padding: 30px;
   color: #ffff;
   text-align: center;
}

.contact-content {
   margin-top: 300px;
   margin-bottom: 600px;
}
.contact-logo {
   float: right;
}
.contact-logo ul li {
   color: #ffff;
   list-style-type: none;
}

/* service content */
.service-content {
   margin-top: 700px;
   margin-bottom: 500px;
}
.box-one {
   margin: 100px !important;
}
/* .box-one .truck-content {
   text-align: center;
   color: #ffff;
} */


/* mobile view */

@media (max-width: 400px)
{
   .main-img {
      width: 100%;
   }
   
   .navbar-role {
      position: relative;
   }


}