html, * {
   padding: 0;
   margin: 0;
}

body {
   background-color: white;
}

.contain-page {
   position: absolute;
   transform: translate(0px, -10px);
}
.contain-page h1 {
   font-family: sans-serif;
   transform: translate(0px, -560px);
   text-decoration: none;
   padding: 1rem;
   color: #ffff;
}

.navbar-role {
   position: absolute;
   transform: translate(600px, -550px);
}
.navbar-role ul li {
   font-family: sans-serif;
   color: #ffff;
   text-decoration: none;
   display: inline;
   justify-content: space-between;
   padding: 10px;
}
